.item {
    flex: auto;
    border: 1px dashed gray;
    margin: 5px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 15px;
}

.item:hover {
    background-color: black;
    color: white;
}

.item-container {
    cursor: pointer;
    display: flex;
}

