.pagination > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination {
    margin-bottom: 10px;
}

a:link {
    text-decoration: none;
}

.active > a {
    color: white;
    background-color: green;
}

a {
    border: 1px solid black;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.previous {
    background-color: #5d0000;
    color: white;
}

.next {
    background-color: #055000;
    color: white;
}